<div class="row full-height">
 <div class="col s9 full-height">
   <div class="panel header-panel flow-text"><%= (!@category.nil?) ? @category.title : "All Products"  %></div>
   <div class="large-8 small-9 columns">
  <%= search_form_for @search do |f| %>
    <%= f.text_field :name, class: "radius-left expand", placeholder: "Product Name" %>
  </div>
    <div class="large-4 small-3 columns">
      <%= f.submit "Search", class: "radius-right button" %>
    </div>
  <% end %></div>
  <div class="row"> <% @products = (!@category.nil?) ? @category.products : @products  %>
  <% @products.each do |product| %>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <span class="price-tag">LE<%= product.price%></span>
            <span class="activator"><i class="material-icons right">more_vert</i></span>
            <%= link_to(product) do %>
              <%= image_tag((product.product_image.url || "nigerian-jollof-rice.jpg"), :width => "100%", :height => "auto", :style => "max-width:100%", :class => "image-thumb", :alt => "Product") %>
              <span class="card-title"><%= product.name %></span>
            <% end %>
          </div>
          <div class="card-action">
            <div class="right"><i class="material-icons left no-right-margin">shopping_cart</i><%= link_to "
						 #{this_product_in_cart(product)}", carts_path, class: "cart left no_left_pad no-right-margin", id: "cart" %></div>
            <% if product.status == "available" %>
              <%= button_to "Add to cart", cart_items_path(product_id: product.id) %>
            <% else %>
              <p>Out of stock</p>
            <% end %>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= product.name%><i class="material-icons right">close</i></span>
            <p><%= product.price%></p>
            <p><%= product.description%></p>
          </div>
        </div>
      </div>

  <% end %>
  </div>
 </div>
</div>
