
<ul class="collapsible popout" data-collapsible="accordion">
 <li>
  <div class="collapsible-header">
    <ul class="row order-display title">
      <li class="col m2">Order Date</li>
      <li  class="col m2">Status</li>
      <li class="col m2">Total</li>
      
    </ul>
  </div>
  <li>
  <% @orders.each do |order| %>
  <li>
    <div class="collapsible-header">
      <ul class="row order-display">
        <li class="col m2"><%= order.created_at.strftime("%d %b. %Y")%></li>
        <li class="col m2"><%= order.Status %></li>
        <li class="col m2">LE<%= order.total || 0.0 %></li>
        
      </ul>
    </div>
    <div class="collapsible-body">
      <table>
        <thead>
          <tr>
            <th data-field="name">Name</th>
            <th data-field="price">Price</th>
            <th data-field="quantity">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% order.order_items.each do |order_item| %>
          <% product = Product.find(order_item.product_id) %>
            <% if product %>
              <tr>
                <td><%=link_to "#{product.name}", product_path(product.id) %></td>
                <td><%= product.price %></td>
                <td><%= order_item.quantity %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>

        </tfoot>

      </table>
    </div>
  </li>
  <% end %>
</ul>
